.close-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 103px;
  right: -25px;
  background-color: #1f1f1f;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 4px 8px #0000001a;
  z-index: 3;
  img {
    width: 24px;
  }
  &:hover {
    filter: brightness(1.5);
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: -293px;
  width: 260px;
  height: 100%;
  color: white;
  transition: left 0.3s ease-in-out;
  z-index: 2;
  background-color: white;

  @media (min-width: 769px) {
    display: none;
  }

  .container-logo {
    background-color: #363636;
    width: 260px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100px;
    }
  }

  ul {
    list-style: none;
    padding: 24px 0;

    li {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      a {
        padding: 0 24px;
        cursor: pointer;
        height: 44px;
        color: #000;
        text-decoration: none;
        display: flex;
        gap: 8px;
        align-items: center;
        font-weight: 500;
        position: relative;
        &.isSelected,
        &:hover {
          filter: brightness(0) saturate(100%) invert(76%) sepia(85%)
            saturate(3838%) hue-rotate(332deg) brightness(99%) contrast(88%);
        }
        &.isSelected {
          border-right: 2px solid #ee7d46;
        }
      }
    }
  }
}

.sidebar.open {
  left: 0;
}

.open-btn {
  position: fixed;
  top: 20px;
  left: 400px;
  background: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
}
